<%= image_tag("spotmyshot.svg", class: 'logo', id: 'identifier', alt: 'logo_shot') %>
<%= image_tag("Hamnoy.png", class: 'hamnoy', id: 'identifier', alt: 'hamnoy_norway') %>
<%= image_tag("Hallstatt.png", class: 'hallstatt', id: 'identifier', alt: 'hallstatt_austria') %>
<%= image_tag("Alpe Di Siusi.png", class: 'alpe', id: 'identifier', alt: 'alpedisiusi_italy') %>
<span class="text1">Hamnøy, Norway</span>
<span class="text2">Hallstatt, Austria</span>
<span class="text3">Alpe Di Siusi, Italy</span>