// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.h1 {
    font-style: italic;
}

.logo {
    position: absolute;
    width: 512px;
    height: 512px;
    left: -86px;
    top: -167px;
    
}
.hamnoy {
    position: absolute;
    width: 291px;
    height: 386px;
    left: 96px;
    top: 167px;
   }

.hallstatt {
    position: absolute;
    width: 291px;
    height: 386px;
    left: 494px;
    top: 167px;
}

.alpe {
position: absolute;
width: 291px;
height: 386px;
left: 892px;
top: 167px;
}

.text1 {
position: absolute;
width: 142px;
height: 21px;
left: 165px;
top: 576px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #000000;
}

.text2 {
position: absolute;
width: 143px;
height: 21px;
left: 575px;
top: 576px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #000000;
}

.text3 {
position: absolute;
width: 147px;
height: 21px;
left: 968px;
top: 576px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #000000;
}